.navbar {
  width: 100%;
  min-height: 6vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .7s ease-in;
}

.small-logo {
  width: 50px;
  margin: 25px;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-start: 0;
}