.app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.background-black {
  width: 100%;
  height: 100%;
  background: #000;
}

.background-reveal {
  animation: reveal 2s forwards;
}

.content {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 100px);
  padding: 0em 5em 5em 5em;
}

.home {
  padding-top: 25%;
}

@keyframes reveal {
  to {
    background: rgba(0, 0, 0, 0.5);
  }
}